.row-fluid{:style => "margin-top: 150px;"}
  .span4.offset4{:style => "text-align: center;"}
    %h3
      = @nick
      as a Reader
      %br/
      %small
        The
        = surround '_', '_' do
          %a{:href => "/"}
            Voyage
        in Pages
.row-fluid{:style => "margin-top: 50px;"}
  - @stats_array.each_with_index do |status, index|
    .span2
      %h4
        %i{:class => "icon-#{@stats[status][:icon]}"}
        = @stats[status][:title]
        %br/
        %small= @stats[status][:sub]
      %hr/
      %ul.unstyled
        - @books.all(:status => status, :order => [ :updated.desc ]).each do |b|
          %li
            %a{:href => "/book/#{b["id"]}/", :style => "color: #909090;"}
              = b["title"]
            %span.pull-right= b["rating"]
            %span.clearfix