<!DOCTYPE html>

<html>
  <head>
    <title><%= nick %> | As Reader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <script src="/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body style="font-family: 'Vollkorn', serif;">
    <div class="container-fluid">
      <div class="row-fluid" style="margin-top: 150px;">
        <div class="span4 offset4" style="text-align: center;">
          <h3>
            <%= nick %> as a Reader
            <br>
            <small>
              The Voyage in Pages
            </small>
          </h3>
        </div>
      </div>

      <div class="row-fluid" style="margin-top: 50px;">

        <% stats.each do |status| %>
          <div class="span2">
            <h4>
              <i class="icon-<%= status[:icon] %>"></i>
              <%= status[:title] %>
              <br>
              <small><%= status[:sub] %></small>
            </h4>
            <hr>
            <ul class="unstyled">
              <% books.all(:status => status[:tag]).each do |b| %>
                <li>
                  <a style="color: #909090;" href="<%= b["url"] %>"><%= b["title"] %></a>
                  <span class="pull-right"><%= b["rating"] %></span>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

      </div>
    </div>
  </body>
</html>
