.row-fluid{:style => "margin-top: 150px;"}
  .span4.offset4{:style => "text-align: center;"}
    %h3
      = @nick
      as a Reader
      %br/
      %small
        The Voyage in Pages
.row-fluid{:style => "margin-top: 50px;"}
  - @stats.each_pair do |status, value|
    .span2
      %h4
        %i{:class => "icon-#{value[:icon]}"}
        = value[:title]
        %br/
        %small= value[:sub]
      %hr/
      %ul.unstyled
        - @books.all(:status => status, :order => [ :updated.desc ]).each do |b|
          %li
            %a{:href => "/book/#{b["id"]}", :style => "color: #909090;"}
              = b["title"]
            %span.pull-right= b["rating"]
            %span.clearfix