.row-fluid{:style => "margin-top: 50px;"}
  .span4.offset4{:style => "text-align: center;"}
    %h3
      = @book["title"]
    .btn-toolbar
      .btn-group
        %a.btn.btn-warning.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i{:class => "icon-#{@stats[@book.status][:icon]}"}
          = @stats[@book.status][:title]
          %span.caret
        %ul.dropdown-menu{:style => "text-align: left;"}
          - @nc_stats.each_pair do |status, value|
            %li
              %a{:href => "/book/#{@book["id"]}/change_status/#{status}"}
                %i{:class => "icon-#{value[:icon]}"}
                = value[:title]
      .btn-group
        %a.btn.btn-success{:href => "#"} Notes
        %a.btn.btn-success{:href => @book["url"]} More Info
      .btn-group
        %a.btn.btn-info{:href => "/books"} All Books
    %hr/
.row-fluid
  .span4.offset4
    %form#add-excerpt{:action => "/book/#{@book["id"]}/excerpt", :method => "post"}
      %textarea#content.input-block-level{:name => "content", :rows => "8"}
      :javascript
        key.filter = function(event) {
          return true;
        }
        key('shift+enter', function() {
          $('#content').val($('#content').val() + "  ");
        });
        key('command+enter, ctrl+enter', function() {
          $("#add-excerpt").submit();
        });
      %span.form-inline
        %input.input-mini{:name => "page", :placeholder => "Page", :type => "text"}/
        %button.btn{:type => "submit"} Add Excerpt
        %span.pull-right
          Hit
          %code ⌘+Enter
          to submit.
.row-fluid
  .span4.offset4
    - @book.excerpts.all( :order => [ :page.desc ]).each_with_index do |exp, index|
      %div{:style => "border-left: 3px solid #{@colors[index % @colors.length]}; padding-left: 5px; margin-top: 20px;"}
        %small
          %em
            P.
          = exp.page
        .lead
          != markdown(exp.content)