.row-fluid{:style => "margin-top: 10%;"}
  / Left Panel
  .span2.offset2
    .pull-left
      - @books.first(3).each do |b|
        %hr/
        %ul.unstyled
          %li
            %a{:href => "/book/#{b.id}", :style => "color: #909090;"}
              %i{:class => "icon-#{@stats[b.status][:icon]}"}
              = b.title
          %li
            %a{:href => "#", :style => "color: #909090;"}
              %i.icon-pencil
              #{b.note.to_s.lines.count} lines of note
          %li
            %a{:href => "#", :style => "color: #909090;"}
              %i.icon-share
              #{b.excerpts.count} pieces of excerpt
  / End Left Panel
  / Main Content, A Random Excerpt
  .span4
    %div{:style => "border-left: 3px solid #{@colors.sample}; padding-left: 5px;"}
      .lead
        != markdown(@exp.content)
      %small.pull-right
        %a{:href=> "/book/#{@exp.book.id}"}
          %cite= @exp.book.title
        %em
          P.
        = @exp.page
  / End Main Content
  / Right Panel
  .span2
    .pull-right
      - @books.last(3).each do |b|
        %hr/
        %ul.unstyled
          %li
            %a{:href => "/book/#{b.id}", :style => "color: #909090;"}
              %i{:class => "icon-#{@stats[b.status][:icon]}"}
              = b.title
          %li
            %a{:href => "#", :style => "color: #909090;"}
              %i.icon-pencil
              #{b.note.to_s.lines.count} lines of note
          %li
            %a{:href => "#", :style => "color: #909090;"}
              %i.icon-share
              #{b.excerpts.count} pieces of excerpt
  / End Right Panel